@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root{
  --main-nav-color: #f0f0f063;
  --main-bg-color: white;
  --main-border-color: #767575;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
.thick-stroke path,
.thick-stroke rect {
  stroke-width: 0.5px;
}
.form-item input:valid ~ .check,
.auth-form input:invalid ~ .cross {
  display: block;
}
.form-item input:valid ~ .cross,
.auth-form input:invalid ~ .check {
  display: none;
}
.form-item input:placeholder-shown ~ .cross {
  display: none !important;
}

body{
  background: var(--main-bg-color);
  transition: all 0.5s linear;
}

.darkmode{
  --main-nav-color : #1c1d1d77;
  --main-bg-color: black;
  --main-border-color: #3e3d3d;
}
.text-white {
  color: white;
}
